@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {

  --Red: hsl(0, 78%, 62%) ;
  --Cyan: hsl(180, 62%, 55%) ;
  --Orange: hsl(34, 97%, 64%) ;
  --Blue: hsl(212, 86%, 64%) ;

  --Very-Dark-Blue: hsl(234, 12%, 34%) ;
  --Grayish-Blue: hsl(229, 6%, 66%) ;
  --Very-Light-Gray: hsl(0, 0%, 98%) ;


}

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.attribution { 
  font-size: 11px; 
  text-align: center;
}

.attribution a {

  color: hsl(228, 45%, 44%); 
}

body {
  background-color: var(--Very-Light-Gray);
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: var(--Grayish-Blue);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  
}
header {
  margin-bottom: 40px;
}
header h2 {
  font-size: 38px;
  text-align: center;
  font-weight: 200 ;

}
.title {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--Very-Dark-Blue);
}
header p {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  line-height: 1.7;
}

section {
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
gap: 34px;

}


.box {
  background-color: white;
  text-align: right;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.2);
}

.box-text {
  margin-bottom: 20px;
  text-align: left;
}
.box-text h5 {
  color: var(--Very-Dark-Blue);
  font-size: 24px;
  margin-bottom: 15px;
}
.box-one {
  align-self: center;
  border-top: 4px solid var(--Cyan);
}
.box-two {
  
  border-top: 4px solid var(--Red);
}
.box-three {
 
  border-top: 4px solid var(--Orange);
}
.box-four {
  align-self: center;
  border-top: 4px solid var(--Blue);
}

.double-box {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

@media only screen and (max-width: 768px) {

  section {
    grid-template-columns: 1fr;
  }
  
}

@media  screen and (max-width: 481px) {

  header h2,  .title {
    font-size: 24px;
  }
  
  .box {
    padding: 20px;
  }
}